/* 
16px Text
20px Small Headers
32px Large headers
*/


*,
::after,
::before {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-header-text: rgba(255, 255, 255, 0.88);
    --dark_text: rgba(255, 255, 255, 0.25);
    --dark_gray_background: #232323;
    --light_gray_text: #B4B4B4;
    --dark_gray_text: rgb(44, 44, 44);
    --transition: all 0.3s linear;
    --primary: #0c575adc;
    --brightPrimary: #0abcc252;
    --black: #000000;
    --white: #ffffff;
    --gray: #656565;
    --lightGray: #ebede9;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('load_spinner.gif') no-repeat center;
    z-index: 99999;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

h1, h2 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary);
}

.hero {
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    margin: 0;
    padding: 2.5em;
    padding-top: 40px;
    display: flex;
}

.field {
    margin-bottom: 10px;
    max-width: 80%;
    display: grid;
    place-items: center;
}


.hero h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #000000e5;
    margin-bottom: 0;
}

.hero p {
    font-size: 1.4em;
    color: #181818c7;
    font-weight: 300;
    letter-spacing: 5px;
    margin: 0px;
    text-transform: uppercase;
}

.hero-btn {
    display: none;
}

.hero-btn button {
    color: #ffffff;
    background: transparent;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid white;
}

.hero-image {
    padding-top: 2.4em;
    padding-bottom: 2.4em;
    width: 100%;
    align-self: center;
    height: auto;
    display: flex;
    justify-content: center;
}

.hero img {
    border-radius: 200px;
    border: none;
    width: 65%;
}

.section-title {
    color: var(--white-header-text);
    background-color: var(--black);
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
    padding: 1.2rem 0;
}



.section-title h2 {
    font-size: 2.2rem;
}

.section-title p {
    color: var(--dark_text);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.products-container {
    max-width: 900px;
    padding: 0rem;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 3rem;
    place-items: center;
    margin: 0px 1rem;
    background-color: white;
}

/* Clear floats after the columns */
.products-container:after {
    content: "";
    display: table;
    clear: both;
}

.product-item {
    color: white;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.product-image {
    height: auto;
    width: 100%;
}

.hide-on-mobile {
    display: none;
}

.product-image img {
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.product-description {
    padding: 1rem 0;
}

.product-description h2 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
}

.product-description p {
    padding-top: 0.7rem;
    color: #6f6f6fe0;
    font-size: 1rem;
    font-weight: 500;
}

.contact-section {
    display: block;
    font-size: 1rem;
    padding: 2.5rem 2.75rem;
}


.contact-info h5 {
    font-size: 1.2rem;
}

.contact-info a {
    font-size: 1rem;
    color: rgb(23, 23, 23);
    font-weight: 500;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info p {
    padding-top: 0.1rem;
}

.contact-order-section {
    padding: 6px 0px;
    margin-top: 30px;
}

.contact-order-section p, .contact-info p {
    color: var(--dark_gray_text);
}

.contact-order-section h3 {
    padding: 8px 0px;
}

/* Order Modal Styles */

/* The Modal (background) */
.order-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 400; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.order-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    border-radius: 14px;
    width: 35%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-modal {
    color: rgba(0, 0, 0, 0.8);
    float: right;
    font-size: 2.2rem;
    font-weight: bold;
  }
  
.close-modal:hover, .close-modal:focus {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    transform: rotate(90deg);
}

.order-modal-content h2 {
    text-align: center;
}

.order-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
}

input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 10px 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=submit] {
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--white);
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 16px;

  }

  input[type=submit]:hover {
    color: var(--primary);
    background-color: var(--white);
    transition: 0.3s linear;
    cursor: pointer;
    border: 2px solid var(--primary);
  }

/* End of order */

/* navbar */

.nav-header span {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1rem;
    font-weight: 800;
    padding-left: 10px;
}

nav {
    background: #fff;
    padding: 1rem 0;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  /* fixed nav */
  .fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .fixed-nav .links a {
    color: black;
  }
  .fixed-nav .links a:hover {
    color: var(--primary);
  }
  /* .fixed-nav .links-container {
    height: auto !important;
  } */
  .nav-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: flex-start;
    padding: 0 1.5rem;
    padding-bottom: 1rem;
  }


  .nav-header button {
      margin-left: auto;
  }
  .nav-toggle {
    font-size: 1.5rem;
    color: black;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: var(--primary);
    transform: rotate(90deg);
  }
  .logo {
    height: 30px;
  }
  .links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .show-links {
    height: 200px;
  }


  .links a {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    display: block;
    transition: var(--transition);
    font-weight: 400;
    padding: 0.7rem 1.5rem;
  }

  .links a:hover {
    background-color: var(--brightPrimary);
    padding-left: 2.2rem;
    color: rgba(0, 0, 0, 0.95);
    font-weight: 400;
  }
  @media screen and (min-width: 800px) {
    nav {
      background: white;
      position: sticky;
      top: 0;
      z-index: 300;
      padding: 0;
      padding-left: 65px;
    }
    .nav-center {
      width: 90vw;
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }
    .links-container {
      height: auto !important;
    }
    .links {
      display: flex;
    }
    .links a {
      background: transparent;
      color: var(--black);
      font-size: 1rem;
      text-transform: capitalize;
      letter-spacing: 0px;
      display: block;
      transition: var(--transition);
      margin: 0;
      font-weight: 500;
      padding: 1rem 0.7rem;
    }
    .links a:hover {
      color: white;
      background-color: var(--primary);
    }
  }

  header {
      min-height: 100vh;
  }
  
  .top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: rgb(42 42 42);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 6px;
    color: #fff;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
  }
  .show-link {
    visibility: visible;
    z-index: 100;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
/* End of Navbar */

.order-button {
    display: flex;
    align-content: center;
    justify-content: center;
}

.order-button button {
    padding: 14px 18px;
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 8px;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-order-button button {
    padding: 14px 18px;
    width: 100%;
    color: white;
    background-color: var(--primary);
    border: 2px solid var(--white);
    border-radius: 6px;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 40px;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;

}

.order-button button:hover {
    color: var(--primary);
    background-color: var(--white);
    transition: 0.3s linear;
    cursor: pointer;
    border: 2px solid var(--primary);
}

.contact-order-button button:hover {
    cursor: pointer;
    color: var(--primary);
    background-color: var(--white);
    transition: 0.3s linear;
    border: 2px solid var(--primary);
}

/* Float three columns side by side */
.product-item-column {
    float: left;
    width: 30%;
    padding: 0 10px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 768px) {
    .product-item-column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    .order-modal-content {
        width: 90%;
        max-height: unset;
    }

    .field {
        max-width: 75%;
        overflow: hidden;
    }
}


.required:after {
    content:" *";
    color: red;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.4rem 2.75rem;
}

footer p {
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* --------------media queries-------------------- */

@media screen and (max-width: 275px) {
    
    .products-container {
        gap: 1rem;
    }

    .product-item {
        padding: 1rem;
    }
}

@media screen and (max-width: 250px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.1rem;
    }

    .hero-btn {
        padding: 6px 8px;
    }

    .hero-btn button {
        font-size: 0.9rem;
    }

    .section-title h2 {
        font-size: 1.6rem;
    }

    .section-title p {
        font-size: 1rem;
    }

    .product-description h2 {
        font-size: 1.6rem;
    }

    .product-description p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 210px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .hero-btn {
        padding: 4px 8px;
    }

    .hero-btn button {
        font-size: 0.8rem;
    }

    .product-description p {
        font-size: 0.8rem;
    }

    .product-description h2 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 180px) {
    .hero h1 {
        font-size: 1.2rem;
    }

    .hero p {
        font-size: 0.7rem;
    }

    .hero-btn {
        padding: 4px 4px;
        margin-left: 0%;
    }

    .hero-btn button {
        font-size: 0.8rem;
    }

    .section-title h2 {
        font-size: 1.3rem;
    }

    .product-description 2 {
        font-size: 1.3rem;
    }

}

@media(max-width: 768px) {
    .projects-grid-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
    .hero img {
        width: 50%;
    }

    .products-container {
        padding: 3rem;
    }
}

@media screen and (min-width: 768px) {
    /* Ipad Styles */

    .product-image img {
        box-shadow: none;
        border-radius: 8px;
    }

    

    .product-item {
        max-width: 300px;
    }

    .hide-on-mobile {
        display: block;
    }
    
    .links a:hover {
        color: var(--white);
        padding-left: 12px;
      }

    footer {
        text-align: left;
        padding: 2rem 75px;
    }

    footer a {
        color: white;
        text-decoration: underline;
    }

    

    .nav-header {
        display: none;
    }
    
    .contact-order-section, .contact-info {
        margin-top: 50px;
    }

    .contact-order-button button {
        max-width: 200px;
        margin-top: 20px;
        background-color: var(--primary);
        color: var(--white);
        border: 2px solid var(--white);
        font-weight: 600;
    }

    .contact-order-button button:hover {
        color: var(--primary);
        background-color: var(--white);
        transition: 0.3s linear;
        cursor: pointer;
        border: 2px solid var(--primary);
    }

    html {
        font-size: 18px;
    }

    .hero {
        position: relative;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 75px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .width-40 {
        width: 40%;
    }

    .width-60 {
        width: 60%;
    }

    .hero h1, .hero p {
        color: var(--black);
    }

    .hero h1 {
        font-size: 6rem;
        letter-spacing: 1px;
        line-height: 0.9;
        font-weight: 400;
    }

    .hero p {
        margin-top: 1rem;
        font-size: 2.6rem;
        letter-spacing: 5px;
        color: var(--primary);
        font-weight: 200;
        text-transform: uppercase;
        border-bottom: 2px solid var(--primary);
        margin-right: 8rem;
        margin-bottom: 5rem;
    }

    .hero-btn {
        margin-top: 70px;
    }

    .hero-btn button {
        color: var(--white);
        text-transform: uppercase;
        padding: 14px 30px;
        font-size: 1.4rem;
        letter-spacing: 0px;
        background-color: var(--primary);
        border: 2px solid var(--white);
        border-radius: 8px;
        font-weight: 600;
    }

    .hero-btn button:hover {
        color: var(--primary);
        background-color: var(--white);
        transition: 0.3s linear;
        cursor: pointer;
        border: 2px solid var(--primary);
    }

    .hero-image {
        width: 90%;
        padding: 0;
        padding-top: 0px;
        padding-bottom: 30px;
        margin: auto;
        align-self: auto;
    }

    .products-container {
        max-width: 100%;
        margin: 0;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* grid-auto-rows: minmax(100px, auto); */
        gap: 3rem 1rem;
        overflow: hidden;
    }
    
    .product-item-column {
        width: 100%;
        min-width: 0; 
        min-height: 0;
    }
    
    .section-title {
        padding: 2.5rem;
    }

    .section-title h2 {
        font-size: 3rem;
        letter-spacing: 2px;
    }

    .section-title p {
        font-size: 1.5rem;
        letter-spacing: 3px;
        padding-top: 5px;
    }

    .hero-btn {
        display: block;
    }

    h1, h2 {
        line-height: 1;
    }

    .contact-section {
        height: 450px;
        padding-left: 76px;
    }
}

@media screen and (min-width: 950px) {
    .hero h1 {
        font-size: 8rem;
    }
}

@media screen and (min-width: 1000px) {
    .products-container {
        padding: 76px;
    }
}