/* 
16px Text
20px Small Headers
32px Large headers
*/


*,
::after,
::before {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --transition: all 0.3s linear;
    --primary: #ff5d10;
    --secondary: #cbc9ee;
    --black: #000000;
    --white: #ffffff;
    --gray: #d2d2d2;
    --background: #f2eecb ;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('load_spinner.gif') no-repeat center;
    z-index: 99999;
}

/* Hhover */
@media (hover: hover) {

    .contact-order-button button:hover {
        cursor: pointer;
        color: var(--white);
        background-color: var(--primary);
        transition: 0.3s linear;
    }

    .order-button button:hover {
        color: var(--white);
        background-color: var(--primary);
        transition: 0.3s linear;
        cursor: pointer;
    }

    .contact-info a:hover {
        text-decoration: underline;
        color: var(--primary);
    }
    .nav-toggle:hover {
        color: var(--primary);
        transform: rotate(90deg);
    }

    footer a:hover {
        cursor: pointer;
        color: var(--primary);
    }



    .close-modal:hover, .close-modal:focus {
        color: var(--primary);
        text-decoration: none;
        cursor: pointer;
        transition: var(--transition);
        transform: rotate(90deg);
    }

    .fixed-nav .links a:hover {
        color: var(--primary);
    }

    input[type=submit]:hover {
        color: white;
        background-color: var(--primary);
        transition: 0.3s linear;
        cursor: pointer;
    }

    .links a:hover {
        color: var(--white);
        padding-left: 30px;
        background-color: var(--primary);
    }

    
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

h1, h2 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
    font-size: 0.75rem;
}





.hero {
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: #f2eecb ;
    flex-direction: column;
    margin: 0;
    padding: 2.5em;
    padding-top: 40px;
    display: flex;
    
}

.field {
    margin-bottom: 10px;
    max-width: 80%;
    display: grid;
    place-items: center;
}


.hero h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #000000e5;
    margin-bottom: 0;
}

.hero p {
    font-size: 1.4em;
    color: var(--black);
    font-weight: 300;
    letter-spacing: 5px;
    margin: 0px;
    text-transform: uppercase;
}

.hero-btn {
    display: none;
}

.hero-btn button {
    color: #ffffff;
    background: transparent;
    font-weight: 600;
    text-decoration: none;
    border: none;
}

.hero-image {
    padding-top: 2.4em;
    padding-bottom: 2.4em;
    width: 100%;
    align-self: center;
    height: auto;
    display: flex;
    justify-content: center;
}

.hero img {
    border-radius: 200px;
    border: none;
    width: 70%;
    transition: 0.3s linear;
}

.section-title {
    color: black;
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
    padding: 1.2rem 0;
    padding-bottom: 0.5rem;
}



.section-title h2 {
    font-size: 2.5rem;
}

.section-title p {
    color: black;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.products-container {
    max-width: 900px;
    padding: 0rem 1rem;
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 3rem;
    place-items: center;
    margin: 0;
    background-color: var(--background);

}

/* Clear floats after the columns */
.products-container:after {
    content: "";
    display: table;
    clear: both;
}

.product-item {
    color: white;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 10px 10px;
    text-align: center;
}

.product-image {
    height: auto;
    width: 100%;
}

.hide-on-mobile {
    display: none;
}

.product-image img {
    border-radius: 8px;
}

.product-description {
    padding: 1rem 0;
}

.product-description h2 {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
}


.product-description p {
    padding: 0.6rem 0;
    color: #3b3b3be0;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0;
}

.contact-section {
    display: block;
    font-size: 1rem;
    padding: 0.5rem 2.75rem;
}


.contact-info h5 {
    font-size: 1.2rem;
}

.contact-info a {
    font-size: 1rem;
    color: rgb(23, 23, 23);
    font-weight: 500;
}



.contact-info p {
    padding-top: 0.1rem;
}

.contact-order-section {
    padding: 6px 0px;
    margin-top: 30px;
}

.contact-order-section p, .contact-info p {
    color: var(--dark_gray_text);
}

.contact-order-section h3 {
    padding: 8px 0px;
}

/* Order Modal Styles */

/* The Modal (background) */
.order-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 400; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.order-modal-content {
    background-color: #fefefe;
    margin: 3% auto; 
    padding: 30px;
    border: 1px solid #888;
    border-radius: 14px;
    width: 35%;
}

/* The Close Button */
.close-modal {
    color: rgba(0, 0, 0, 0.8);
    float: right;
    font-size: 2.2rem;
    font-weight: bold;
  }
  


.order-modal-content h2 {
    text-align: center;
}

.order-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
}

input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 10px 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=submit] {
    background-color: black;
    color: var(--white);
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 16px;
    border: none;

  }



/* End of order */

/* navbar */

.nav-header span {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1rem;
    font-weight: 800;
    padding-left: 10px;
}

nav {
    background: #fff;
    padding: 1rem 0;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  /* fixed nav */
  .fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .fixed-nav .links a {
    color: black;
  }
  

  /* .fixed-nav .links-container {
    height: auto !important;
  } */
  .nav-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: flex-start;
    padding: 0 1.5rem;
    padding-bottom: 1rem;
  }


  .nav-header button {
      margin-left: auto;
  }
  .nav-toggle {
    font-size: 1.5rem;
    color: black;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }

  .logo {
    height: 30px;
  }
  .links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .show-links {
    height: 200px;
  }


  .links a {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    display: block;
    transition: var(--transition);
    font-weight: 400;
    padding: 0.7rem 1.5rem;
  }


  @media screen and (min-width: 800px) {

    
    
  }

  header {
      min-height: 100vh;
  }
  
  .top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: rgb(42 42 42);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 6px;
    color: #fff;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
  }
  .show-link {
    visibility: visible;
    z-index: 100;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
/* End of Navbar */

.order-button {
    display: flex;
    align-content: center;
    justify-content: center;
}

.order-button button {
    padding: 14px 18px;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    border-radius: 8px;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.contact-order-button button {
    padding: 14px 18px;
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 6px;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 40px;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;

}





/* Float three columns side by side */
.product-item-column {
    float: left;
    width: 30%;
    padding: 0 10px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 768px) {
    .product-item-column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    .contact-info p {
        color: black;
        font-size: 1.2rem;
    }

    .order-modal-content {
        width: 90%;
        max-height: unset;
    }

    .field {
        max-width: 75%;
        overflow: hidden;
    }

    .contact-order-button button {
        margin-bottom: 0px;
    }
    
    .section-title {
        padding: 3rem 0;
    }

    .contact-section {
        padding: 4rem 2.5rem;
        padding-bottom: 5rem;
        background-color: var(--background);
    }
    
    .contact-section h4 {
        font-size: 1.4rem;
        margin-bottom: 0px;
    }

    .contact-order-section {
        margin-top: 10px;
    }
}


.required:after {
    content:" *";
    color: red;
}

footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 1.4rem 2.75rem;
    font-size: 0.75rem;
}

footer h4 {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 10px;
    font-weight: 300;
}

footer h4 a {
    font-size: 0.9rem;
    color: white;
}

footer p {
    font-weight: 300;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    color: white;
}

/* --------------media queries-------------------- */

@media screen and (max-width: 275px) {
    
    .products-container {
        gap: 1rem;
    }

    .product-item {
        padding: 1rem;
    }
}

@media screen and (max-width: 250px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.1rem;
    }

    .hero-btn {
        padding: 6px 8px;
    }

    .hero-btn button {
        font-size: 0.9rem;
    }

    .section-title h2 {
        font-size: 1.6rem;
    }

    .section-title p {
        font-size: 1rem;
    }

    .product-description h2 {
        font-size: 1.6rem;
    }

    .product-description p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 210px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .hero-btn {
        padding: 4px 8px;
    }

    .hero-btn button {
        font-size: 0.8rem;
    }

    .product-description p {
        font-size: 0.8rem;
    }

    .product-description h2 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 180px) {
    .hero h1 {
        font-size: 1.2rem;
    }

    .hero p {
        font-size: 0.7rem;
    }

    .hero-btn {
        padding: 4px 4px;
        margin-left: 0%;
    }

    .hero-btn button {
        font-size: 0.8rem;
    }

    .section-title h2 {
        font-size: 1.3rem;
    }

    .product-description 2 {
        font-size: 1.3rem;
    }

}

@media(max-width: 768px) {
    .projects-grid-container {
        grid-template-columns: 1fr;
    }

    .section-title p {
        margin-top: 5px;
    }
}


@media screen and (min-width: 350px) and (max-width: 500px) {
    .products-container {
        padding: 0 1.5rem;
        padding-top: 2rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
    .hero img {
        width: 60%;
    }

    .hero h1 {
        font-size: 6rem;
    }

    .hero p {
        font-size: 2rem;
    }

    .section-title h2 {
        font-size: 2.75rem;
    }

    footer h4, footer h4 a {
        font-size: 1rem;
    }

    footer p {
        font-size: 0.9rem;
    }

    .products-container {
        padding: 3rem 3.5rem;
        padding-bottom: 0;
    }

    .product-description p {
        font-size: 1.1rem;
    }

    .order-button button {
        font-size: 1rem;
    }

    .product-item {
        padding: 2rem;
    }
}

.show-deskk {
    display: none;
}

@media screen and (min-width: 768px) {
    /* Ipad Styles */

    .product-item {
        border-radius: 8px;
    }
    
    nav {
        background: white;
        position: sticky;
        top: 0;
        z-index: 300;
        padding: 0;
        padding-left: 65px;
      }
      .nav-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .nav-header {
        padding: 0;
      }
      .nav-toggle {
        display: none;
      }
      .links-container {
        height: auto !important;
      }
      .links {
        display: flex;
      }
      .links a {
        background: transparent;
        color: var(--black);
        font-size: 1rem;
        text-transform: capitalize;
        letter-spacing: 0px;
        display: block;
        transition: var(--transition);
        margin: 0;
        font-weight: 400;
        padding: 1rem 0.7rem;
      }
      @media (hover: hover) {
          .links a:hover {
              color: white;
              background-color: var(--primary);
          }
      }

    .nav-header {
        display: none;
    }

    .product-description p {
        padding-top: 0.3rem;
        padding-bottom: 0;
    }

    .contact-section p {
        margin-bottom: 10px;
    }

    .contact-section h4 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    @media (hover: hover) {
        a.no-hover:hover {
            background-color: white;
            font-weight: 500;
        }

        .links a:hover {
            color: var(--white);
            padding-left: 12px;
        }

        .hero-btn button:hover {
            color: var(--white);
            background-color: var(--black);
            transition: 0.3s linear;
            cursor: pointer;
        }

        .contact-order-button button:hover {
            color: white;
            background-color: var(--primary);
            transition: 0.3s linear;
            cursor: pointer;
        }
    }

   

    .show-deskk {
        display: block;
    }

    .nav-desk-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
      }

    .nav-desk-header span {
        color: rgba(0, 0, 0, 0.9);
        font-size: 1rem;
        font-weight: 800;
        padding-left: 0;
    }

    .logo {
        height: 21px;
    }


    .product-image img {
        box-shadow: none;
        border-radius: 16px;
    }

    .show-mobilee {
        display: none;
    }

    .product-item {
        max-width: 300px;
    }

    .hide-on-mobile {
        display: block;
    }
    


    footer {
        text-align: left;
        padding: 2rem 75px;
        font-size: 0.6rem;
    }

    footer a {
        color: rgba(255, 255, 255, 0.5);
    }

    

    
    
    .contact-order-section, .contact-info {
        margin-top: 50px;
        margin-top: 20px;
    }

    .contact-order-button button {
        max-width: 200px;
        margin-top: 0.2rem;
        background-color: var(--black);
        color: var(--white);
        font-weight: 600;
        margin-bottom: 0px;
    }

   

    html {
        font-size: 18px;
    }

    .hero {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        padding: 75px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .width-40 {
        width: 40%;
    }

    .width-60 {
        width: 60%;
    }

    .hero h1, .hero p {
        color: var(--black);
    }

    .hero h1 {
        font-size: 6rem;
        letter-spacing: 1px;
        line-height: 0.9;
        font-weight: 300;
    }

    .hero p {
        font-family: 'Roboto', sans-serif;
        margin-top: 0.75rem;
        font-size: 2.2rem;
        letter-spacing: 8px;
        color: var(--black);
        font-weight: 200;
        text-transform: uppercase;
        border-bottom: 2px solid var(--primary);
        margin-right: 1rem;
        margin-bottom: 4rem;
        margin-left: 0.6rem;
        font-style: italic;
    }

    .hero-btn {
        margin-top: 70px;
    }

    .hero-btn button {
        color: var(--white);
        text-transform: uppercase;
        padding: 18px 32px;
        font-size: 1.4rem;
        letter-spacing: 0px;
        background-color: var(--primary);
        border-radius: 8px;
        font-weight: 500;
    }

    

    .hero-image {
        width: 90%;
        padding: 0;
        padding-top: 0px;
        padding-bottom: 30px;
        margin: auto;
        align-self: auto;
    }

    .products-container {
        max-width: 100%;
        margin: 0;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* grid-auto-rows: minmax(100px, auto); */
        gap: 3rem 1rem;
        overflow: hidden;
        background-color: #f2eecb ;
    }
    
    .product-item-column {
        width: fit-content;
        min-width: 0; 
        min-height: 0;
    }
    
    .section-title {
        padding: 2.5rem;
    }

    .section-title h2 {
        font-size: 3rem;
        letter-spacing: 2px;
    }

    .section-title p {
        font-size: 1.5rem;
        letter-spacing: 3px;
        padding-top: 5px;
    }

    .hero-btn {
        display: block;
        margin-left: 0.5rem;
    }

    h1, h2 {
        line-height: 1;
    }

    .contact-section {
        padding: 4rem 3rem;
        margin: 4rem 5.5rem;
        margin-top: 4rem;
        border-radius: 8px;
        margin-top: 2rem;
        background-color: var(--background);
    }
}


@media screen and (min-width: 850px) {
    .hero p {
        margin-right: 2rem;
    }
}

@media screen and (min-width: 900px) {
    .hero p {
        margin-right: 3rem;
    }
}

@media screen and (min-width: 950px) {
    .hero h1 {
        font-size: 8rem;
    }

    .hero p {
        margin-right: 4rem;
    }
}

@media screen and (min-width: 1000px) {
    .products-container {
        padding: 80px;
        padding-top: 40px;
        padding-bottom: 0px;
        padding-top: 4rem;
    }

    .hero p {
        margin-right: 5rem;
        max-width: 250px;
    }
}